nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;

    /* text color */
    color: white;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

body
{
    /* dark background */
    background-color: #333333;
}

.button5
{
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.button5:hover
{
  background-color: #555555;
  color: white;
}