{% extends "layout.html" %}

{% block title %} About {% endblock %}

{% block main %}


<body>
    <h2>
        <b>
             What is this site about?
        </b>
    </h2>
    <p>
        StudySpot is a interactive way of finding your favorite place to study. Just highlight your favorite Spot and let other students know that
        you've found the perfect study spot!

    </p>

    <h3>
        <b>
            Site instructions:
        </b>
    </h3>
    <p>
        Use the "Menu Sidebar" at the top left of your screen to navigate through the site.
    </p>
        <ul>
            <li>'Profile' will show your profile, posts, navigation to followers and following.</li>
            <li>'Upload' will let you upload your own StudySpot for other students to look at.</li>
            <li>'Settings' will let you change several profile or login texts.</li>
        </ul>
        <p>
            For more information, try clicking the "☰ Menu" button
        </p>


    <img src="https://www.iamsterdam.com/media/business/industry/life-sciences-and-health/uva-fnwi-at-amsterdam-science-park-hanne-nijhuis.jpg" alt="Amsterdam Science Park 904" width=1000px
    <p>
        Photo: Amsterdam Science Park 904, University of Amsterdam
    </p>
</body>

{% endblock %}