{% extends "layout.html" %}

{% block title %} About {% endblock %}

{% block main %}

<style>
div {
    background-image: url('https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjrvuGpkpfnAhWEjKQKHeEWATMQjRx6BAgBEAQ&url=https%3A%2F%2Fwww.amsterdamsdagblad.nl%2Falgemeen%2Fdak-van-uva-locatie-science-park-eraf-gewaaid&psig=AOvVaw3PikzIuT2fbchGzbQqVi2o&ust=1579780282537859');
}

</style>
<body>
    <h2>
        <b>
             What is this site about?
        </b>
    </h2>
    <p>
        StudySpot is a interactive way of finding your favorite place to study. Just highlight your favorite Spot
    </p>
</body>

{% endblock %}