{% extends "layout.html" %}

{% block title %} About {% endblock %}

{% block main %}


<body>

    <h3><b>The purpose of StudySpot</b></h3>
    <p>
        StudySpot is an interactive way to find your new favorite place to study in Amsterdam.
        If you already have a favorite StudySpot in Amsterdam, you can easily share this with other students.
        Favorite the StudySpots you liked most to save them on your personal page.
        It's important to favorite StudySpots, if spots reach a total of 50 favorites they are hidden for other users.
        Upload your own spotted StudySpots to share them with other users.
        Students finding the best StudySpots in Amsterdam, together!
    </p>

    <h3><b>Creating a profile</b></h3>
    <p>
        To use all StudySpot functionalities, a StudySpot profile is required. Making a profile is quite easy!
        Click on the register button and register yourself with just a username and password. That's it, your StudySpot profile is online!
    </p>

    <h3><b>Usage of StudySpot</b></h3>
    <p>
        Use the "Menu Sidebar" at the top-left of your screen to navigate through the StudySpot site. For example:
    </p>
        <ul>
            <li>'Profile' will show your profile with posts, followers and following.</li>
            <li>'Upload' will let you upload your own StudySpot for other students to look at.</li>
            <li>'Settings' gives you the opportunity to change several profile or login data.</li>
        </ul>
        <p>
            Try it yourself, by clicking the "☰ Menu" button!
        </p>

    <img src="static/about.jpeg" alt="Amsterdam Science Park 904" width=1000px>
    <p>
        Photo: Sudents at Amsterdam Science Park 904, University of Amsterdam
    </p>
</body>

{% endblock %}