{% extends "layout.html" %}

{% block title %}
    Favorites
{% endblock %}

{% block main %}

    <center><h2><b>Favorites</b></h2></center>

    <body>

        <center><p>Get in touch with other people and their places :)</p></center>

        <!-- Show posts like pinterest -->
        <div class="card-columns">
            {% for post in posts %}
            <div class="card" onclick="location.href='/info/{{ post[0].id }}';">
                <img class="card-img-top" src={{ post[0].path }} alt="User post">
                <div class="card-body">
                    <h5 class="card-title">{{ post[0].title }}</h5>
                    <!--<a u href="/info/{{ post[0].id }}"><b>More information</b></a/u>-->
                </div>
            </div>
            {% endfor %}
        </div>


        <!-- When button is clicked, shows more information of post -->
        <!--<p><center><div class="w3-center w3-padding-16 w3-button" ><a u href="/info/{{post_id}}"><b>More information</b></a/u></div></center></p>-->

        <!-- User can like post via button, when the post is already liked the user kan unlike a post -->
        <!--{% if bool_post_id and bool_like %}-->
        <!--    <form action="/like/{{post_id}}" method="post">-->
        <!--        <center><button class="btn btn-primary" type="submit">Like</button></center>-->
        <!--    </form>-->

        <!--{% elif not bool_like and bool_post_id %}-->
        <!--    <form action="/unlike/{{post_id}}" method="post">-->
        <!--        <center><button class="btn btn-primary" type="submit">Unlike</button></center>-->
        <!--    </form>-->
        <!--{% endif %}-->

    </body>

{% endblock %}