{% extends "layout.html" %}

{% block title %}
    Following
{% endblock %}

{% block main %}

    <center><h2><b>Following</b></h2></center>

    <body>

        <center><p>The users you follow have been busy posting their StudySpots ... Click on the SpotPhoto to see more info!</p></center>

        <!-- Show posts like pinterest -->
        <div class="card-columns">
            {% for post in posts %}
            <div class="card" onclick="location.href='/info/{{ post[0].id }}';">
                <img class="card-img-top" src={{ post[0].path }} alt="User post">
                <div class="card-body">
                    <h5 class="card-title">{{ post[0].title }}</h5>
                </div>
            </div>
            {% endfor %}
        </div>

    </body>

{% endblock %}