<!DOCTYPE html>
<html>
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
      /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
  </head>
  <head>
    <title>Geocoding service</title>
    <center><h1>Location of this spot</h1></center>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 80%;
        width: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <center><h1><a u href="/{{user}}">StudySpotter: {{name[0]["username"]}}</a></h1></center>
    <center><h1>Name of this spot: {{titles[0]["title"]}} </h2></center>
    <center><h1>Discription: {{titles[0]["discription"]}} </h2></center>
    <center><h1>Adress: {{titles[0]["street"]}} {{titles[0]["number"]}} {{titles[0]["postal"]}} {{titles[0]["city"]}}</h2></center>

        <!-- User can favorite post via button, when the post is already favorited the user kan unfavorite a post -->
        {% if bool_favo %}
            <form action="/favorite/{{number}}" method="POST">
                <p><center><button class="btn btn-info btn-lg" type="submit"><span class="glyphicon glyphicon-star"></span> Favorite </button></center></p>
            </form>

        {% elif not bool_favo %}
            <form action="/unfavorite/{{number}}" method="POST">
                <p><center><button class="btn btn-info btn-lg" type="submit"><span class="glyphicon glyphicon-star"></span> Unfavorite </button></center></p>
            </form>
        {% endif %}

        <!-- User can like post via button, when the post is already liked the user kan unlike a post -->
        {% if bool_like %}
            <form action="/like/{{number}}" method="POST">
                <center><button class="btn btn-info btn-lg" type="submit"><span class="glyphicon glyphicon-heart"></span> Like</button></center>
            </form>

        {% elif not bool_like %}
            <form action="/unlike/{{number}}" method="POST">
                <center><button class="btn btn-info btn-lg" type="submit"> Unlike</button></center>
            </form>
        {% endif %}

        <!-- User can delete post, if the post is upploaded by the user that is logged in -->
        {% if not bool_user %}
            <form action="/delete/{{number}}" method="POST">
                <p><center><button class="btn btn-info btn-lg" type="submit"><span class="glyphicon glyphicon-trash"></span> Delete post</button></center></p>
            </form>
        {% endif %}

        <p><center><a href="/discover" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-refresh"></span> Next post
        </a></center></p>


    <script>
      var geocoder;
      var map;
      var address = '{{titles[0]["street"]}} {{titles[0]["number"]}} {{titles[0]["postal"]}} {{titles[0]["city"]}}';
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: {lat: -34.397, lng: 150.644}
        });
        geocoder = new google.maps.Geocoder();
        codeAddress(geocoder, map);
      }

      function codeAddress(geocoder, map) {
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            map.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }

      /* Google maps API KEY = AIzaSyDbGDrm0-V8P-eF65UUCjSfhx-82DsvjRE is disabled because of the decreasing credit on google payments*/
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbGDrm0-V8P-eF65UUCjSfhx-82DsvjRE&callback=initMap">
    </script>





  </body>
  <div id="map"></div>
</html>