{% extends "layout2.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}

    <!--login form-->
    <form class="needs-validation" action="/login" method="post" novalidate>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" id="user" name="username" placeholder="Username" type="text" required>
            <div class="invalid-feedback" id="usercheck">
                Please provide your username
            </div>
        </div>
        <div class="form-group">
            <input class="form-control" id="pass" name="password" placeholder="Password" type="password" required>
            <div class="invalid-feedback" id="passcheck">
                Please provide your password
            </div>
        </div>

        <p>
        <button class="btn btn-primary" onclick="main();" type="submit">Log In</button>
        </p>
    </form>

    <center>

        <!--redirect to register-->
        <p>No account? Register now!</p>
        <button class="btn btn-primary" onclick="window.location.href = '/register';">Register</button>
        <br></br>
        <option disabled value="" class="w3-bar-item w3-button">_______________________________________________________________________________________________</option>
        <!-- Introduction text-->
        <br><br>
        <h1>
            What is StudySpot?
        </h1>

            <h4>
                <br>
                StudySpot is the one and only studyplace-finding site, especially for students in Amsterdam. Nowadays, finding a comforting, relaxing area without too much
                fuss isn't easy.
                Upload your own found studyplace and share it with others!
                Not really feeling it today? Discover studyplaces other students uploaded!
                <br><br>
                <p>Want to find out more about StudySpot? Click <a href="/about"><U>here</U>!</a></p>
            </h4>


    </center>

    <!-- Script, gives feedback on user input -->
    <script>
        // Check if username is in the database
        let username = document.getElementById("user");
        function main() {
            $.get('/check?username='+ username.value, function(check) {
                // alert(check)
                if (username.value == "") {
                    document.getElementById("usercheck").innerHTML = "Please provide your username";
                    username.setAttribute("class", "form-control is invalid");
                }
                else if (check) {
                    document.getElementById("usercheck").innerHTML = "Username is incorrect";
                    username.setAttribute("class", "form-control is-invalid");
                }
                else {
                    document.getElementById("usercheck").innerHTML = "Please provide your username";
                    username.setAttribute("class", "form-control");
                }
            });
        }

        //
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {

                        // If not all fields are filled on or username is already taken
                        if (form.checkValidity() === false || username.getAttribute("class") == "form-control is-invalid") {
                            event.preventDefault();
                            event.stopPropagation();
                        }

                        // All fields have valid input
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
         })();

    </script>

{% endblock %}