{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block main %}

    <!-- Form to change user information -->
    <form action="/settings" method="post" enctype="multipart/form-data">

        <center><p> Feel free to change your settings as you please, but make sure it's decent for your fellow StudySpotters to see.</p></center>

        <!-- Change login information-->
        <p>Change username:</p>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" id="username" name="username" placeholder="Username" type="text">
        </div>
        <p>Change password:</p>
        <div class="form-group">
            <input class="form-control" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" id="confirmation" name="confirmation" placeholder="Confirmation" type="password">
        </div>

        <p>Change profile picture:</p>
            <div class="form-group">
                <label>Select image</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="image" id="image" oninput="filesize(this);">
                    <label class="custom-file-label" for="image">Select image...</label>
                </div>
            </div>

        <p>Change discription:</p>
        <label for="counter-input" class="label">Character count: <span id="counter-display" class="tag is-success">0</span></label>
        <div class="form-group">
            <input class="form-control" id="discription" name="discription" placeholder="Discription" type="text" maxlength='150'>
        </div>

        <center><button class="btn btn-primary" type="submit">Apply changes</button></center>

    </form>

    <script>

        // source: https://codepen.io/pi/pen/dXbwwa
        // Discription character counter
        (() => {
            const counter = (() => {
                const input = document.getElementById('discription'),
                display = document.getElementById('counter-display'),
                changeEvent = (evt) => display.innerHTML = evt.target.value.length,
                getInput = () => input.value,
                countEvent = () => input.addEventListener('keyup', changeEvent),
                init = () => countEvent();

                return {
                    init: init
                }
            })();
            counter.init();
        })();

    </script>

{% endblock %}
