{% extends "layout.html" %}

{% block title %}
    Discover
{% endblock %}

{% block main %}
<center><h2><b>Discover this spot ... </b></h2></center>
<center><p>What you need to know about this spot ...</p></center>
<center><H3>This spot on the map</H3></center>
<body>
  <style>#map {
        height: 100%;
      }</style>

</body>
<script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 15
        });
      }
    </script>


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDixNYXWGFFjkTyU-69maMrOOrzGvRiwU&callback=initMap"
  type="text/javascript">
</script>



<p style=”padding: 10px; color: red; background-color: blue; border: black 2px solid”>Text</p>
{% endblock %}