<!DOCTYPE html>
<html>
  <head>
    <style>
      /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
  </head>
  <body>
    <center><h1>Location of this spot</h1></center>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
// Initialize and add the map
function initMap() {
  // The location of Amsterdam
  var amsterdam = {lat: 52.379189, lng: 4.899431};
  // The map, centered at Amstedam
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 15, center: amsterdam});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: amsterdam, map: map});
}
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbGDrm0-V8P-eF65UUCjSfhx-82DsvjRE&callback=initMap">
    </script>
    <center><h1>Titel{{title}} </h2></center>
    <center><h1>Discription{{discription}} </h2></center>
    <center><h1>Adress{{street}} </h2></center>
  </body>
</html>