{% extends "layout.html" %}

{% block title %}
    Upload
{% endblock %}

{% block main %}

    <!-- Text top of the page -->
    <center><h2>Share a place where you like to study</h2></center>

    <!-- Form to upload a post -->
    <form action="/upload" method="post" enctype="multipart/form-data">

        <!-- User selects image from computer files -->
        <p>Upload picture:</p>
        <div class="form-group">
            <label>Select image</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="image" id="image" oninput="filesize(this);" required>
                <label class="custom-file-label" for="image">Select image...</label>
            </div>
        </div>

        <!-- User fills in the name of the spot -->
        <p>This spot is named:</p>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" id="place name" name="place name" placeholder="Name of this spot ..." type="text" required>
        </div>

        <!-- User fills in a description of the StudySpot -->
        <p><label for="counter-input" class="label">Photo description(max 150):  <span id="counter-display" class="tag is-success">0</span></label></p>
        <div class="form-group">
            <textarea rows="4" cols="40" id="description" name="description" placeholder="Tell us what's the best about this place or what you loved most about the chairs ... Whatever it is you want to tell us :) " type="text" maxlength='150' required></textarea>
        </div>

        <!-- User fills in adress of the StudySpot -->
        <p>Adress</p>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" id="street" name="street" placeholder="Street name" type="text" required>
            <input autocomplete="off" autofocus class="form-control" id="number" name="number" placeholder="Number" type="text" required>
            <input autocomplete="off" autofocus class="form-control" id="postal" name="postal" placeholder="Postal code" type="text" required>
            <input autocomplete="off" autofocus class="form-control" id="city" name="city" placeholder="City" type="text" required>

        </div>


        <!-- When user clicks this button, the post is saved into posts -->
        <center><button class="btn btn-primary" type="submit">Upload and post!</button></center>


    </form>

    <script>

        // source: https://codepen.io/pi/pen/dXbwwa
        // description character counter
        (() => {
          const counter = (() => {
            const input = document.getElementById('description'),
              display = document.getElementById('counter-display'),
              changeEvent = (evt) => display.innerHTML = evt.target.value.length,
              getInput = () => input.value,
              countEvent = () => input.addEventListener('keyup', changeEvent),
              init = () => countEvent();

            return {
              init: init
            }

          })();

          counter.init();

        })();

    </script>

{% endblock %}