{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block main %}
    <form action="/settings" method="post">

        <p>Upload picture:</p>




        <p>Discription of this photo ...</p>
        <label for="counter-input" class="label">Character count: <span id="counter-display" class="tag is-success">0</span></label>
        <div class="form-group">
            <textarea rows="4" cols="50" input class="form-control" id="discription" name="discription" placeholder="Discription" type="text" maxlength='150'>
                </textarea>


        </div>

        <button class="btn btn-primary" type="submit">Upload this post!</button>

    </form>


{% endblock %}
